* {
	margin: 0;
}

html, body {
  background: #a1d3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #905d85 , #81126c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ab76da , #a5a797); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;       
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


h1{
  margin-top: 80px;
}
/* Gameboard */
#tictactoe {
  

  margin: 10px auto;
  width: 350px;
}

table {
  margin: 5% auto;
}

table, 
td, 
tr {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 100px;
}

td:hover {
  background-color: rgba(250, 235, 215, 0.216);
  cursor: pointer;
 
}

.tile {
  font-size: 50px;
  height: 80px;
  width: 80px;
}

/* Message Box */
.message-box {
  margin: 10px auto;
}

/* Game state classes */
.inactive {
  pointer-events: none;
}

.hide-element {
  display: none;
  opacity: 0;
  height: 0;
  transition: visibility 5s, opacity 0.5s linear;
}

/* Buttons */
.player-select,
.opponent-select {
  margin: 10px;
}

.player-select:focus {
  color: red;
  transition: 0.3s ease;
}

button {
  background: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  cursor: pointer;
  font-size: 20px;
  margin: 10px auto;
}

button:hover {
  border-bottom: 1px solid red;
  color: red;
  transition: .3s ease;
}

button:active,
button:focus {
  outline: none;
}

/* Sticky Footer */
footer {
  margin-top: 5%;
  padding: 10px;
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-in-out;
}


/* Media Queries */
@media screen and (max-width: 450px) {
  .tile {
      font-size: 8vw; /* Adjust font size for smaller screens */
      height: 20vw; /* Adjust height for smaller screens */
      width: 20vw; /* Adjust width for smaller screens */
  }

  #tictactoe {
      font-size: 8vw; /* Adjust font size for smaller screens */
      margin: 0 auto;
      width: 90%;
  }

  .message-box {
      padding: 2px;
  }

  .player-select,
  .opponent-select,
  button {
      font-size: 6vw; /* Adjust font size for smaller screens */
  }
}
